<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - mayanBoats</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/mayanBoats.styles.css" asp-append-version="true" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-navbar border-bottom box-shadow">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class="w-100" src="/img/MayanBoatsLogoFondo.webp" style="height: 50px;">
                        <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto gap-3">
                            <li class="nav-item @(Context.Request.Path == "/" ? "active" : "")">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index">Inicio</a>
                            </li>
                            <li class="nav-item @(Context.Request.Path == "/Yate" ? "active" : "")">
                                <a class="nav-link text-white" asp-area="" asp-page="/Yate">Yate</a>
                            </li>
                            <li class="nav-item @(Context.Request.Path == "/Atracciones" ? "active" : "")">
                                <a class="nav-link text-white" asp-area="" asp-page="/Atracciones">Atracciones</a>
                            </li>
                            <li class="nav-item @(Context.Request.Path == "/Contacto" ? "active" : "")">
                                <a class="nav-link text-white" asp-area="" asp-page="/Contacto">Contacto</a>
                            </li>
                            <li class="nav-item @(Context.Request.Path == "/Paquetes" ? "active" : "")">
                                <a class="nav-link text-white" asp-area="" asp-page="/Paquetes">Paquetes</a>
                            </li>
                            @* <li class="nav-item @(Context.Request.Path == "/Paquetes" ? "active" : "")">
                                <a class="nav-link text-white btn btn-primary" asp-area="" asp-page="/Paquetes">Reserva</a>
                            </li> *@
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            <main role="main" class="pb-3 flex-grow-1">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - MayanBoats @* - <a asp-area="" asp-page="/Privacy">Privacy</a> *@
            </div>
        </footer>

        <!-- WhatsApp -->
        <a href="https://wa.me/526144691267" class="whatsapp-button" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @* LIVE *@
        <script src="https://www.paypal.com/sdk/js?client-id=AQ-oyf-TjocSz1IaMW3vJIHLZdPoYcx_mleygEXOzp3gD3Lvj5tKCPKD_SkpwI8y70TGCnq8z-UrzC_R"></script>
        @* SANDBOX *@
        @* <script src="https://www.paypal.com/sdk/js?client-id=ARSL4Cn9R8OZu7BtBYeE-hSs5c5MX_9sTN6RhWXgoKqv1gShpUwMxhijkpv8EFEZ7-3u5GA7FX2jdiq7"></script> *@
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
